html{
background-image: url("");
background-attachment: fixed;
background-position: center,center;
}

.wrapper{
    background-color: tomato;
    border-left-color: darkorange;
    


}


.backgroundcolor{
    background-color: antiquewhite;
}