.header{
   background-color: rgb(200, 200, 200);
   background-image: url("images/4-uwm-hero.jpg");
   background-position: center,bottom;
   padding-bottom: 400px;
   background-repeat: no-repeat;
}


.wrapper{



}