html{
    background-color: azure;
    background-image: url("images/1-big-viburnum.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
   
}
h1,h2,ul{
    margin: 0;
}


.header{
 
    background-color: rgba(240, 245, 255, 50%);
}

.main{
   
   background-color: rgba(100, 149, 237, 50%);
}